<section class="content-header">
    <h1>
        Tabela de Usuários
        <small> - </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Home/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Tabelas</a></li>
        <li class="active">Usuarios</li>
    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">


            <table id="toolbarModifierWrapper" class="table table-striped table-condensed table-hover dataTables_wrapper">
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Cliente</th>
                        <th>CPF</th>
                        <th>RG</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Nome de Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in ViewBag.Clientes)
                    {
                        <tr>
                            <td>@cliente.Id</td>
                            <td>@cliente.Pessoa.Nome</td>
                            <td>@cliente.Pessoa.Cpf</td>
                            <td>@cliente.Pessoa.Rg</td>
                            <td>@cliente.Pessoa.Email</td>
                            <td>@cliente.Pessoa.Fone</td>
                            <td>@cliente.NomeUsuario</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</section>